Package: com.ps.chatgptweblegacycompat
Name: ChatGPTWebLegacyCompat
Version: 1.3.6
Architecture: iphoneos-arm
Description: Makes ChatGPT website functional on iOS 15.
Maintainer: PoomSmart
Author: PoomSmart
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000), com.ps.polyfills (>= 1.12.0), firmware (>= 14.0), firmware (<< 16.0)
Depiction: https://poomsmart.github.io/repo/depictions/chatgptweblegacycompat.html
SileoDepiction: https://poomsmart.github.io/repo/sileodepictions/chatgptweblegacycompat.json
