@supports (((-webkit-hyphens: none)) and(not(margin-trim: inline))) or((-moz-orient: inline) and(not(color: rgb(from red r g b)))) {
    *, ::after, ::before {
        --tw-outline-style: solid;
        --tw-leading: initial;
        --tw-content: ""
    }
}
