
    @media not all and (width >= 400px) {
        .\@max-\[400px\]\:max-w-full {
            max-width:100%
        }
    }

    @media not all and (width >= 48rem) {
        .\@max-3xl\:-top-2 {
            top:calc(var(--spacing) * -2)
        }
    }

    @media not all and (width >= 42rem) {
        .\@max-2xl\/main\:mask-b-from-black {
            mask-image: var(--tw-mask-linear), var(--tw-mask-radial), var(--tw-mask-conic);
            mask-image: var(--tw-mask-linear), var(--tw-mask-radial), var(--tw-mask-conic);

            --tw-mask-linear: var(--tw-mask-left), var(--tw-mask-right), var(--tw-mask-bottom), var(--tw-mask-top);
            --tw-mask-bottom: linear-gradient(to bottom, var(--tw-mask-bottom-from-color) var(--tw-mask-bottom-from-position), var(--tw-mask-bottom-to-color) var(--tw-mask-bottom-to-position));
            --tw-mask-bottom-from-color: #000;
            mask-composite: source-in;
            mask-composite:intersect
        }
    }

    @media not all and (width >= 32rem) {
        .\@max-lg\:auto-cols-\[70\%\] {
            grid-auto-columns:70%
        }
    }

    @media (width >= 0) {
        .\@\[0px\]\:hidden {
            display:none
        }
    }

    @media (width >= 150px) {
        .\@\[150px\]\:block {
            display:block
        }
    }

    @media (width >= 300px) {
        .\@\[300px\]\/composer\:flex {
            display:flex
        }
    }

    @media (width >= 310px) {
        .\@\[310px\]\/composer\:flex {
            display:flex
        }
    }

    @media (width >= 400px) {
        .\@\[400px\]\/composer\:flex {
            display:flex
        }
    }

    @media (width >= 800px) {
        .\@\[800px\]\/composer\:flex {
            display:flex
        }
    }

    @media (width >= 24rem) {
        .\@sm\/col\:col-span-1 {
            grid-column:span 1/span 1
        }
    }

    @media (width >= 28rem) {
        .\@md\/col\:col-span-8 {
            grid-column:span 8/span 8
        }

        .\@md\/col\:col-start-3 {
            grid-column-start:3
        }
    }

    @media (width >= 32rem) {
        .\@lg\/col\:col-span-6 {
            grid-column:span 6/span 6
        }

        .\@lg\/col\:col-start-4 {
            grid-column-start:4
        }
    }

    @media (width >= 32rem) {
        .\@lg\/images-promo-banner\:flex {
            display:flex
        }
    }

    @media (width >= 40rem) {
        .\@\[40rem\]\/main\:-start-7 {
            inset-inline-start:calc(var(--spacing) * -7)
        }

        .\@w-sm\/main\:-mx-4 {
            margin-inline:calc(var(--spacing) * -4)
        }

        .\@\[40rem\]\/main\:block {
            display:block
        }

        .\@w-sm\/main\:flex {
            display:flex
        }

        .\@w-sm\/main\:hidden {
            display:none
        }

        .\@w-sm\/main\:w-full {
            width:100%
        }

        .\@w-sm\/main\:flex-row {
            flex-direction:row
        }

        .\@w-sm\/main\:gap-4 {
            gap:calc(var(--spacing) * 4)
        }

        .\@w-sm\/main\:px-2 {
            padding-inline:calc(var(--spacing) * 2)
        }

        .\@w-sm\/main\:px-4 {
            padding-inline:calc(var(--spacing) * 4)
        }

        .\@w-sm\/main\:\[--thread-content-margin\:--spacing\(6\)\] {
            --thread-content-margin:calc(var(--spacing) * 6)}

        .\@w-sm\/main\:\[scrollbar-gutter\:stable_both-edges\] {
            scrollbar-gutter:stable both-edges
        }
    }

    @media (width >= 42rem) {
        .\@2xl\/main\:start-8 {
            inset-inline-start:calc(var(--spacing) * 8)
        }

        .\@2xl\/main\:top-8 {
            top:calc(var(--spacing) * 8)
        }

        .\@2xl\/main\:bottom-5 {
            bottom:calc(var(--spacing) * 5)
        }

        .\@2xl\/main\:m-0 {
            margin:calc(var(--spacing) * 0)
        }

        .\@2xl\/main\:-mx-8 {
            margin-inline:calc(var(--spacing) * -8)
        }

        .\@2xl\/main\:me-4 {
            margin-inline-end:calc(var(--spacing) * 4)
        }

        .\@2xl\/main\:mt-2 {
            margin-top:calc(var(--spacing) * 2)
        }

        .\@2xl\/main\:block {
            display:block
        }

        .\@2xl\/main\:hidden {
            display:none
        }

        .\@2xl\/main\:h-1\.5 {
            height:calc(var(--spacing) * 1.5)
        }

        .\@2xl\/main\:h-5 {
            height:calc(var(--spacing) * 5)
        }

        .\@2xl\/main\:h-8 {
            height:calc(var(--spacing) * 8)
        }

        .\@2xl\/main\:h-12 {
            height:calc(var(--spacing) * 12)
        }

        .\@2xl\/main\:h-64 {
            height:calc(var(--spacing) * 64)
        }

        .\@2xl\/main\:h-full {
            height:100%
        }

        .\@2xl\/main\:min-h-12 {
            min-height:calc(var(--spacing) * 12)
        }

        .\@2xl\/main\:w-1\.5 {
            width:calc(var(--spacing) * 1.5)
        }

        .\@2xl\/main\:w-5 {
            width:calc(var(--spacing) * 5)
        }

        .\@2xl\/main\:w-8 {
            width:calc(var(--spacing) * 8)
        }

        .\@2xl\/main\:w-12 {
            width:calc(var(--spacing) * 12)
        }

        .\@2xl\/main\:w-48 {
            width:calc(var(--spacing) * 48)
        }

        .\@2xl\/main\:w-96 {
            width:calc(var(--spacing) * 96)
        }

        .\@2xl\/main\:max-w-64 {
            max-width:calc(var(--spacing) * 64)
        }

        .\@2xl\/main\:max-w-72 {
            max-width:calc(var(--spacing) * 72)
        }

        .\@2xl\/main\:max-w-96 {
            max-width:calc(var(--spacing) * 96)
        }

        .\@2xl\/main\:min-w-12 {
            min-width:calc(var(--spacing) * 12)
        }

        .\@2xl\/main\:min-w-20 {
            min-width:calc(var(--spacing) * 20)
        }

        .\@2xl\/main\:flex-1 {
            flex:1
        }

        .\@2xl\/main\:flex-grow-0 {
            flex-grow:0
        }

        .\@2xl\/main\:grid-cols-2 {
            grid-template-columns:repeat(2, minmax(0, 1fr))
        }

        .\@2xl\/main\:grid-cols-\[auto_1fr\] {
            grid-template-columns:auto 1fr
        }

        .\@2xl\/main\:flex-col {
            flex-direction:column
        }

        .\@2xl\/main\:flex-row {
            flex-direction:row
        }
    }

    @media (width >= 42rem) {
        .\@2xl\:flex-row {
            flex-direction:row
        }

        .\@2xl\:justify-between {
            justify-content:space-between
        }
    }

    @media (width >= 42rem) {
        .\@2xl\/main\:gap-12 {
            gap:calc(var(--spacing) * 12)
        }

        :where(.\@2xl\/main\:space-y-0\.5 > :not(:last-child)) {
            --tw-space-y-reverse: 0;
            margin-top: calc(calc(var(--spacing) * .5) * var(--tw-space-y-reverse));
            margin-bottom:calc(calc(var(--spacing) * .5) * calc(1 - var(--tw-space-y-reverse)))
        }

        .\@2xl\/main\:gap-y-2 {
            row-gap:calc(var(--spacing) * 2)
        }

        .\@2xl\/main\:rounded-4xl {
            border-radius:var(--radius-4xl)
        }

        .\@2xl\/main\:mask-r-from-black {
            mask-image: var(--tw-mask-linear), var(--tw-mask-radial), var(--tw-mask-conic);
            mask-image: var(--tw-mask-linear), var(--tw-mask-radial), var(--tw-mask-conic);

            --tw-mask-linear: var(--tw-mask-left), var(--tw-mask-right), var(--tw-mask-bottom), var(--tw-mask-top);
            --tw-mask-right: linear-gradient(to right, var(--tw-mask-right-from-color) var(--tw-mask-right-from-position), var(--tw-mask-right-to-color) var(--tw-mask-right-to-position));
            --tw-mask-right-from-color: #000;
            mask-composite: source-in;
            mask-composite:intersect
        }

        .\@2xl\/main\:p-3 {
            padding:calc(var(--spacing) * 3)
        }

        .\@2xl\/main\:p-8 {
            padding:calc(var(--spacing) * 8)
        }

        .\@2xl\/main\:px-8 {
            padding-inline:calc(var(--spacing) * 8)
        }

        .\@2xl\/main\:pe-16 {
            padding-inline-end:calc(var(--spacing) * 16)
        }

        .\@2xl\/main\:pt-8 {
            padding-top:calc(var(--spacing) * 8)
        }
    }

    @media (width >= 42rem) {
        .\@2xl\:text-start {
            text-align:start
        }
    }

    @media (width >= 42rem) {
        .\@2xl\/main\:text-base {
            font-size: var(--text-base);
            line-height:var(--tw-leading, var(--text-base--line-height))
        }
    }

    @media (width >= 44rem) {
        .\@\[44rem\]\/main\:-start-9 {
            inset-inline-start:calc(var(--spacing) * -9)
        }
    }

    @media (width >= 48rem) {
        .\@3xl\:-start-3 {
            inset-inline-start:calc(var(--spacing) * -3)
        }

        .\@3xl\:-top-4 {
            top:calc(var(--spacing) * -4)
        }
    }

    @media (width >= 48rem) {
        .\@w-md\/main\:-mx-4 {
            margin-inline:calc(var(--spacing) * -4)
        }

        .\@w-md\/main\:min-w-\[300px\] {
            min-width:300px
        }
    }

    @media (width >= 64rem) {
        .\@w-lg\/main\:min-w-\[360px\] {
            min-width:360px
        }

        .\@w-lg\/main\:\[--thread-content-margin\:--spacing\(16\)\] {
            --thread-content-margin:calc(var(--spacing) * 16)}

        .\@w-lg\/main\:\[--thread-content-max-width\:48rem\] {
            --thread-content-max-width:48rem}
    }

    @media (width >= 80rem) {
        .\@w-xl\/main\:-top-\(--header-height\) {
            top:calc(var(--header-height) * -1)
        }

        .\@w-xl\/main\:top-0 {
            top:calc(var(--spacing) * 0)
        }

        .\@w-xl\/main\:top-2 {
            top:calc(var(--spacing) * 2)
        }

        .\@w-xl\/main\:top-4 {
            top:calc(var(--spacing) * 4)
        }

        .\@w-xl\/main\:top-9 {
            top:calc(var(--spacing) * 9)
        }

        .\@w-xl\/main\:bg-token-main-surface-primary {
            background-color:var(--main-surface-primary)
        }

        .\@w-xl\/main\:bg-transparent {
            background-color:#0000
        }

        .\@w-xl\/main\:shadow-none\! {
            --tw-shadow: 0 0 transparent !important;
            box-shadow:var(--tw-inset-shadow), var(--tw-inset-ring-shadow), var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow) !important
        }

        .\@w-xl\/main\:\[box-shadow\:var\(--sharp-edge-top-shadow\)\]\! {
            box-shadow:var(--sharp-edge-top-shadow) !important
        }
    }

    @media (width >= 96rem) {
        .\@w-2xl\/main\:bg-transparent {
            background-color:#0000
        }

        .\@w-2xl\/main\:shadow-none\! {
            --tw-shadow: 0 0 transparent !important;
            box-shadow:var(--tw-inset-shadow), var(--tw-inset-ring-shadow), var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow) !important
        }
    }

    @media (width >= 42rem) {
        .rtl\:\@2xl\/main\:mask-l-from-black:where( [dir="rtl"], [dir="rtl"] *) {
            mask-image: var(--tw-mask-linear), var(--tw-mask-radial), var(--tw-mask-conic);
            mask-image: var(--tw-mask-linear), var(--tw-mask-radial), var(--tw-mask-conic);

            --tw-mask-linear: var(--tw-mask-left), var(--tw-mask-right), var(--tw-mask-bottom), var(--tw-mask-top);
            --tw-mask-left: linear-gradient(to left, var(--tw-mask-left-from-color) var(--tw-mask-left-from-position), var(--tw-mask-left-to-color) var(--tw-mask-left-to-position));
            --tw-mask-left-from-color: #000;
            mask-composite: source-in;
            mask-composite:intersect
        }
    }

    @media (width >= 32rem) {
        .\@lg\/images-promo-banner\:\[\&\ > \*\:nth-child\(n\+3\)\]\:hidden > :nth-child(n + 3) {
            display:none
        }
    }

    @media (width >= 42rem) {
        .\@2xl\/images-promo-banner\:\[\&\ > \*\:nth-child\(n\+3\)\]\:flex > :nth-child(n + 3) {
            display:flex
        }

        .\@2xl\/images-promo-banner\:\[\&\ > \*\:nth-child\(n\+5\)\]\:hidden > :nth-child(n + 5) {
            display:none
        }
    }