.\@\[34rem\]\:\[--thread-content-max-width\:40rem\] {
    --thread-content-max-width: 48rem !important
}

.\@\[64rem\]\:\[--thread-content-max-width\:48rem\] {
    --thread-content-max-width: 48rem !important
}

.\[--thread-content-max-width\:32rem\] {
    --thread-content-max-width: 48rem !important
}
