
    @media (stuck: bottom) {
        .stucky-bottom\/keyboard-shortcuts > .stuck-border {
            border-color:var(--border-sharp)
        }
    }
    @media (stuck: top) {
        .stucky-top\/keyboard-shortcuts > .stuck-border {
            border-color:var(--border-sharp)
        }
    }
    @media not all and (min-width: 400px) {
        .\@max-\[400px\]\:max-w-full {
            max-width:100%
        }
    }
    @media not all and (min-width: 48rem) {
        .\@max-3xl\:-top-2 {
            top:calc(var(--spacing) * -2)
        }
    }
    @media not all and (min-width: 43rem) {
        .\@max-\[43rem\]\/main\:-mx-\(--thread-content-margin\) {
            margin-inline:calc(var(--thread-content-margin) * -1)
        }

        .\@max-\[43rem\]\/main\:scroll-m-\(--thread-content-margin\) {
            scroll-margin:var(--thread-content-margin)
        }

        .\@max-\[43rem\]\/main\:px-\(--thread-content-margin\) {
            padding-inline:var(--thread-content-margin)
        }
    }
    @media not all and (min-width: 42rem) {
        .\@max-2xl\/main\:mask-b-from-black {
            -webkit-mask-image: var(--tw-mask-linear), var(--tw-mask-radial), var(--tw-mask-conic);
            mask-image: var(--tw-mask-linear), var(--tw-mask-radial), var(--tw-mask-conic);
            --tw-mask-linear: var(--tw-mask-left), var(--tw-mask-right), var(--tw-mask-bottom), var(--tw-mask-top);
            --tw-mask-bottom: linear-gradient(to bottom, var(--tw-mask-bottom-from-color) var(--tw-mask-bottom-from-position), var(--tw-mask-bottom-to-color) var(--tw-mask-bottom-to-position));
            --tw-mask-bottom-from-color: #000;
            -webkit-mask-composite: source-in;
            mask-composite:intersect
        }
    }
    @media not all and (min-width: 32rem) {
        .\@max-lg\:auto-cols-\[70\%\] {
            grid-auto-columns:70%
        }
    }
    @media not all and (min-width: 28rem) {
        .\@max-md\:end-1 {
            inset-inline-end:calc(var(--spacing) * 1)
        }

        .\@max-md\:top-3 {
            top:calc(var(--spacing) * 3)
        }

        .\@max-md\:-m-1 {
            margin:calc(var(--spacing) * -1)
        }
    }
    @media (min-width: 0) {
        .\@\[0px\]\:hidden {
            display:none
        }
    }
    @media (min-width: 150px) {
        .\@\[150px\]\:block {
            display:block
        }
    }
    @media (min-width: 300px) {
        .\@\[300px\]\/composer\:flex {
            display:flex
        }
    }
    @media (min-width: 310px) {
        .\@\[310px\]\/composer\:flex {
            display:flex
        }
    }
    @media (min-width: 380px) {
        .\@\[380px\]\:grid-cols-\[fit-content\(10rem\)_minmax\(0\,1fr\)\] {
            grid-template-columns:fit-content(10rem) minmax(0, 1fr)
        }
    }
    @media (min-width: 400px) {
        .\@\[400px\]\/composer\:flex {
            display:flex
        }
    }
    @media (min-width: 480px) {
        .\@\[480px\]\:ms-0 {
            margin-inline-start:calc(var(--spacing) * 0)
        }

        .\@\[480px\]\:grid-cols-2 {
            grid-template-columns:repeat(2, minmax(0, 1fr))
        }

        .\@\[480px\]\:flex-col {
            flex-direction:column
        }
    }
    @media (min-width: 600px) {
        .\@\[600px\]\:grid-cols-2 {
            grid-template-columns:repeat(2, minmax(0, 1fr))
        }

        .\@\[600px\]\:grid-cols-3 {
            grid-template-columns:repeat(3, minmax(0, 1fr))
        }
    }
    @media (min-width: 768px) {
        .\@\[768px\]\:grid-cols-\[minmax\(0\,1fr\)_minmax\(0\,1fr\)\] {
            grid-template-columns:minmax(0, 1fr) minmax(0, 1fr)
        }
    }
    @media (min-width: 800px) {
        .\@\[800px\]\/composer\:flex {
            display:flex
        }
    }
    @media (min-width: 24rem) {
        .\@sm\/col\:col-span-1 {
            grid-column:span 1/span 1
        }
    }
    @media (min-width: 24rem) {
        .\@sm\/preview-pane\:grid-cols-2 {
            grid-template-columns:repeat(2, minmax(0, 1fr))
        }

        .\@sm\/preview-pane\:items-center {
            align-items:center
        }
    }
    @media (min-width: 28rem) {
        .\@md\:absolute {
            position:absolute
        }

        .\@md\:start-0 {
            inset-inline-start:calc(var(--spacing) * 0)
        }

        .\@md\:top-1 {
            top:calc(var(--spacing) * 1)
        }
    }
    @media (min-width: 28rem) {
        .\@md\/col\:col-span-8 {
            grid-column:span 8/span 8
        }
    }
    @media (min-width: 28rem) {
        .\@md\:col-span-1 {
            grid-column:span 1/span 1
        }
    }
    @media (min-width: 28rem) {
        .\@md\/col\:col-start-3 {
            grid-column-start:3
        }
    }
    @media (min-width: 28rem) {
        .\@md\:mb-0 {
            margin-bottom:calc(var(--spacing) * 0)
        }

        .\@md\:w-1\/2 {
            width:50%
        }

        .\@md\:w-auto {
            width:auto
        }

        .\@md\:flex-row {
            flex-direction:row
        }

        .\@md\:items-center {
            align-items:center
        }

        .\@md\:justify-between {
            justify-content:space-between
        }

        .\@md\:border-s {
            border-inline-start-style: var(--tw-border-style);
            border-inline-start-width:1px
        }

        .\@md\:border-t {
            border-top-style: var(--tw-border-style);
            border-top-width:1px
        }

        .\@md\:border-t-0 {
            border-top-style: var(--tw-border-style);
            border-top-width:0
        }
    }
    @media (min-width: 32rem) {
        .\@lg\/col\:col-span-6 {
            grid-column:span 6/span 6
        }

        .\@lg\/col\:col-start-4 {
            grid-column-start:4
        }
    }
    @media (min-width: 32rem) {
        .\@lg\:mt-0 {
            margin-top:calc(var(--spacing) * 0)
        }

        .\@lg\:mb-0 {
            margin-bottom:calc(var(--spacing) * 0)
        }

        .\@lg\:block {
            display:block
        }

        .\@lg\:flex {
            display:flex
        }

        .\@lg\:hidden {
            display:none
        }

        .\@lg\:inline {
            display:inline
        }

        .\@lg\:size-4\.5 {
            width: calc(var(--spacing) * 4.5);
            height:calc(var(--spacing) * 4.5)
        }

        .\@lg\:size-7 {
            width: calc(var(--spacing) * 7);
            height:calc(var(--spacing) * 7)
        }

        .\@lg\:size-10 {
            width: calc(var(--spacing) * 10);
            height:calc(var(--spacing) * 10)
        }

        .\@lg\:w-auto {
            width:auto
        }

        .\@lg\:max-w-none {
            max-width:none
        }

        .\@lg\:justify-center {
            justify-content:center
        }

        .\@lg\:py-3\.5 {
            padding-block:calc(var(--spacing) * 3.5)
        }

        .\@lg\:ps-2 {
            padding-inline-start:calc(var(--spacing) * 2)
        }

        .\@lg\:pe-2 {
            padding-inline-end:calc(var(--spacing) * 2)
        }
    }
    @media (min-width: 40rem) {
        .\@\[40rem\]\/main\:-start-7 {
            inset-inline-start:calc(var(--spacing) * -7)
        }

        .\@w-sm\/main\:-mx-4 {
            margin-inline:calc(var(--spacing) * -4)
        }

        .\@\[40rem\]\/main\:block {
            display:block
        }

        .\@w-sm\/main\:flex {
            display:flex
        }

        .\@w-sm\/main\:w-\[calc\(100\%\+2rem\)\] {
            width:calc(100% + 2rem)
        }

        .\@w-sm\/main\:max-w-full {
            max-width:100%
        }

        .\@w-sm\/main\:flex-row {
            flex-direction:row
        }

        .\@w-sm\/main\:gap-2\.5 {
            gap:calc(var(--spacing) * 2.5)
        }

        .\@w-sm\/main\:px-2 {
            padding-inline:calc(var(--spacing) * 2)
        }

        .\@w-sm\/main\:px-4 {
            padding-inline:calc(var(--spacing) * 4)
        }

        .\@w-sm\/main\:\[--thread-content-margin\:var\(--thread-content-margin-sm\,calc\(var\(--spacing\)\*6\)\)\] {
            --thread-content-margin:var(--thread-content-margin-sm, calc(var(--spacing) * 6))}

        .\@w-sm\/main\:\[scrollbar-gutter\:var\(--stage-scroll-gutter\)\] {
            scrollbar-gutter:var(--stage-scroll-gutter)
        }
    }
    @media (min-width: 42rem) {
        .\@2xl\/main\:start-8 {
            inset-inline-start:calc(var(--spacing) * 8)
        }

        .\@2xl\/main\:top-8 {
            top:calc(var(--spacing) * 8)
        }

        .\@2xl\/main\:bottom-5 {
            bottom:calc(var(--spacing) * 5)
        }

        .\@2xl\/main\:m-0 {
            margin:calc(var(--spacing) * 0)
        }

        .\@2xl\/main\:-mx-8 {
            margin-inline:calc(var(--spacing) * -8)
        }

        .\@2xl\/main\:me-4 {
            margin-inline-end:calc(var(--spacing) * 4)
        }

        .\@2xl\/main\:mt-2 {
            margin-top:calc(var(--spacing) * 2)
        }

        .\@2xl\/main\:block {
            display:block
        }

        .\@2xl\/main\:hidden {
            display:none
        }

        .\@2xl\/main\:h-1\.5 {
            height:calc(var(--spacing) * 1.5)
        }

        .\@2xl\/main\:h-2\.5 {
            height:calc(var(--spacing) * 2.5)
        }

        .\@2xl\/main\:h-5 {
            height:calc(var(--spacing) * 5)
        }

        .\@2xl\/main\:h-8 {
            height:calc(var(--spacing) * 8)
        }

        .\@2xl\/main\:h-12 {
            height:calc(var(--spacing) * 12)
        }

        .\@2xl\/main\:h-80 {
            height:calc(var(--spacing) * 80)
        }

        .\@2xl\/main\:h-full {
            height:100%
        }

        .\@2xl\/main\:min-h-12 {
            min-height:calc(var(--spacing) * 12)
        }

        .\@2xl\/main\:w-1\.5 {
            width:calc(var(--spacing) * 1.5)
        }

        .\@2xl\/main\:w-2\.5 {
            width:calc(var(--spacing) * 2.5)
        }

        .\@2xl\/main\:w-5 {
            width:calc(var(--spacing) * 5)
        }

        .\@2xl\/main\:w-8 {
            width:calc(var(--spacing) * 8)
        }

        .\@2xl\/main\:w-12 {
            width:calc(var(--spacing) * 12)
        }

        .\@2xl\/main\:w-62 {
            width:calc(var(--spacing) * 62)
        }

        .\@2xl\/main\:w-96 {
            width:calc(var(--spacing) * 96)
        }

        .\@2xl\/main\:max-w-64 {
            max-width:calc(var(--spacing) * 64)
        }

        .\@2xl\/main\:max-w-72 {
            max-width:calc(var(--spacing) * 72)
        }

        .\@2xl\/main\:max-w-96 {
            max-width:calc(var(--spacing) * 96)
        }

        .\@2xl\/main\:min-w-12 {
            min-width:calc(var(--spacing) * 12)
        }

        .\@2xl\/main\:min-w-20 {
            min-width:calc(var(--spacing) * 20)
        }

        .\@2xl\/main\:flex-1 {
            flex:1
        }

        .\@2xl\/main\:flex-grow-0 {
            flex-grow:0
        }

        .\@2xl\/main\:grid-cols-2 {
            grid-template-columns:repeat(2, minmax(0, 1fr))
        }

        .\@2xl\/main\:grid-cols-\[auto_1fr\] {
            grid-template-columns:auto 1fr
        }

        .\@2xl\/main\:flex-col {
            flex-direction:column
        }

        .\@2xl\/main\:flex-row {
            flex-direction:row
        }
    }
    @media (min-width: 42rem) {
        .\@2xl\:flex-row {
            flex-direction:row
        }

        .\@2xl\:justify-between {
            justify-content:space-between
        }
    }
    @media (min-width: 42rem) {
        .\@2xl\/main\:gap-12 {
            gap:calc(var(--spacing) * 12)
        }

        :where(.\@2xl\/main\:space-y-0\.5 > :not(:last-child)) {
            --tw-space-y-reverse: 0;
            margin-block-start: calc(calc(var(--spacing) * .5) * var(--tw-space-y-reverse));
            margin-block-end:calc(calc(var(--spacing) * .5) * calc(1 - var(--tw-space-y-reverse)))
        }

        .\@2xl\/main\:gap-y-2 {
            row-gap:calc(var(--spacing) * 2)
        }

        .\@2xl\/main\:rounded-4xl {
            border-radius:var(--radius-4xl)
        }

        .\@2xl\/main\:mask-r-from-black {
            -webkit-mask-image: var(--tw-mask-linear), var(--tw-mask-radial), var(--tw-mask-conic);
            mask-image: var(--tw-mask-linear), var(--tw-mask-radial), var(--tw-mask-conic);
            --tw-mask-linear: var(--tw-mask-left), var(--tw-mask-right), var(--tw-mask-bottom), var(--tw-mask-top);
            --tw-mask-right: linear-gradient(to right, var(--tw-mask-right-from-color) var(--tw-mask-right-from-position), var(--tw-mask-right-to-color) var(--tw-mask-right-to-position));
            --tw-mask-right-from-color: #000;
            -webkit-mask-composite: source-in;
            mask-composite:intersect
        }

        .\@2xl\/main\:p-3 {
            padding:calc(var(--spacing) * 3)
        }

        .\@2xl\/main\:p-8 {
            padding:calc(var(--spacing) * 8)
        }

        .\@2xl\/main\:px-8 {
            padding-inline:calc(var(--spacing) * 8)
        }

        .\@2xl\/main\:pe-16 {
            padding-inline-end:calc(var(--spacing) * 16)
        }

        .\@2xl\/main\:pt-8 {
            padding-top:calc(var(--spacing) * 8)
        }
    }
    @media (min-width: 42rem) {
        .\@2xl\:text-start {
            text-align:start
        }
    }
    @media (min-width: 42rem) {
        .\@2xl\/main\:text-base {
            font-size: var(--text-base);
            line-height:var(--tw-leading, var(--text-base--line-height))
        }
    }
    @media (min-width: 43rem) {
        .\@\[43rem\]\/main\:min-w-\[300px\] {
            min-width:300px
        }
    }
    @media (min-width: 44rem) {
        .\@\[44rem\]\/main\:-start-9 {
            inset-inline-start:calc(var(--spacing) * -9)
        }
    }
    @media (min-width: 48rem) {
        .\@3xl\:-start-3 {
            inset-inline-start:calc(var(--spacing) * -3)
        }

        .\@3xl\:-top-4 {
            top:calc(var(--spacing) * -4)
        }
    }
    @media (min-width: 48rem) {
        .\@w-md\/main\:order-1 {
            order:1
        }

        .\@w-md\/main\:order-2 {
            order:2
        }

        .\@w-md\/main\:mt-10 {
            margin-top:calc(var(--spacing) * 10)
        }

        .\@w-md\/main\:mb-0 {
            margin-bottom:calc(var(--spacing) * 0)
        }

        .\@w-md\/main\:flex {
            display:flex
        }

        .\@w-md\/main\:hidden {
            display:none
        }

        .\@w-md\/main\:size-9 {
            width: calc(var(--spacing) * 9);
            height:calc(var(--spacing) * 9)
        }

        .\@w-md\/main\:h-75 {
            height:calc(var(--spacing) * 75)
        }

        .\@w-md\/main\:min-h-9 {
            min-height:calc(var(--spacing) * 9)
        }

        .\@w-md\/main\:w-full {
            width:100%
        }

        .\@w-md\/main\:max-w-3xl {
            max-width:var(--container-3xl)
        }

        .\@w-md\/main\:justify-center {
            justify-content:center
        }

        .\@w-md\/main\:gap-6 {
            gap:calc(var(--spacing) * 6)
        }

        .\@w-md\/main\:p-8 {
            padding:calc(var(--spacing) * 8)
        }

        .\@w-md\/main\:px-1 {
            padding-inline:calc(var(--spacing) * 1)
        }

        .\@w-md\/main\:pt-2 {
            padding-top:calc(var(--spacing) * 2)
        }

        .\@w-md\/main\:pb-1 {
            padding-bottom:calc(var(--spacing) * 1)
        }

        .\@w-md\/main\:text-\[2\.25rem\] {
            font-size:2.25rem
        }
    }
    @media (min-width: 64rem) {
        .\@w-lg\/main\:block {
            display:block
        }

        .\@w-lg\/main\:max-w-\[var\(--shopping-browse-filter-pill-max-width\)\] {
            max-width:var(--shopping-browse-filter-pill-max-width)
        }

        .\@w-lg\/main\:min-w-\[360px\] {
            min-width:360px
        }

        .\@w-lg\/main\:\[--shopping-browse-content-max-width\:60rem\] {
            --shopping-browse-content-max-width:60rem}

        .\@w-lg\/main\:\[--shopping-browse-filter-pill-max-width\:max\(8\.75rem\,calc\(\(100cqw-var\(--true-content-width\)\)\/2-2rem\)\)\] {
            --shopping-browse-filter-pill-max-width:max(8.75rem, calc((100cqw - var(--true-content-width)) / 2 - 2rem))}

        .\@w-lg\/main\:\[--thread-content-margin\:var\(--thread-content-margin-lg\,calc\(var\(--spacing\)\*16\)\)\] {
            --thread-content-margin:var(--thread-content-margin-lg, calc(var(--spacing) * 16))}

        .\@w-lg\/main\:\[--thread-content-max-width\:48rem\] {
            --thread-content-max-width:48rem}

        .\@w-lg\/main\:\[--thread-content-max-width\:52rem\] {
            --thread-content-max-width:52rem}
    }
    @media (min-width: 80rem) {
        .\@w-xl\/main\:top-0 {
            top:calc(var(--spacing) * 0)
        }

        .\@w-xl\/main\:top-2 {
            top:calc(var(--spacing) * 2)
        }

        .\@w-xl\/main\:top-4 {
            top:calc(var(--spacing) * 4)
        }

        .\@w-xl\/main\:bg-token-main-surface-primary {
            background-color:var(--main-surface-primary)
        }

        .\@w-xl\/main\:\[box-shadow\:var\(--sharp-edge-top-shadow\)\]\! {
            box-shadow:var(--sharp-edge-top-shadow) !important
        }

        .\@w-xl\/main\:\[--shopping-browse-content-max-width\:68rem\] {
            --shopping-browse-content-max-width:68rem}

        .has-data-\[fixed-header\=less-than-xl\]\:\@w-xl\/main\:scroll-pt-0:has([data-fixed-header=less-than-xl]) {
            scroll-padding-top:calc(var(--spacing) * 0)
        }

        .has-data-\[fixed-header\=less-than-xl\]\:\@w-xl\/main\:\[--sticky-padding-top\:0px\]:has([data-fixed-header=less-than-xl]) {
            --sticky-padding-top:0px}

        .data-\[fixed-header\=less-than-xl\]\:\@w-xl\/main\:bg-transparent[data-fixed-header=less-than-xl] {
            background-color:#0000
        }

        .data-\[fixed-header\=less-than-xl\]\:\@w-xl\/main\:shadow-none\![data-fixed-header=less-than-xl] {
            --tw-shadow: 0 0 #0000 !important;
            box-shadow:var(--tw-inset-shadow), var(--tw-inset-ring-shadow), var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow) !important
        }
    }
    @media (min-width: 96rem) {
        .\@w-2xl\/main\:\[--shopping-browse-content-max-width\:76rem\] {
            --shopping-browse-content-max-width:76rem}

        .has-data-\[fixed-header\=less-than-xxl\]\:\@w-2xl\/main\:scroll-pt-0:has([data-fixed-header=less-than-xxl]) {
            scroll-padding-top:calc(var(--spacing) * 0)
        }

        .has-data-\[fixed-header\=less-than-xxl\]\:\@w-2xl\/main\:\[--sticky-padding-top\:0px\]:has([data-fixed-header=less-than-xxl]) {
            --sticky-padding-top:0px}

        .data-\[fixed-header\=less-than-xxl\]\:\@w-2xl\/main\:bg-transparent[data-fixed-header=less-than-xxl] {
            background-color:#0000
        }

        .data-\[fixed-header\=less-than-xxl\]\:\@w-2xl\/main\:shadow-none\![data-fixed-header=less-than-xxl] {
            --tw-shadow: 0 0 #0000 !important;
            box-shadow:var(--tw-inset-shadow), var(--tw-inset-ring-shadow), var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow) !important
        }
    }
    @media (min-width: 42rem) {
        .rtl\:\@2xl\/main\:mask-l-from-black:where( [dir=rtl], [dir=rtl] *) {
            -webkit-mask-image: var(--tw-mask-linear), var(--tw-mask-radial), var(--tw-mask-conic);
            mask-image: var(--tw-mask-linear), var(--tw-mask-radial), var(--tw-mask-conic);
            --tw-mask-linear: var(--tw-mask-left), var(--tw-mask-right), var(--tw-mask-bottom), var(--tw-mask-top);
            --tw-mask-left: linear-gradient(to left, var(--tw-mask-left-from-color) var(--tw-mask-left-from-position), var(--tw-mask-left-to-color) var(--tw-mask-left-to-position));
            --tw-mask-left-from-color: #000;
            -webkit-mask-composite: source-in;
            mask-composite:intersect
        }
    }