
    @container thread not (min-width: 521px) {
        .\@max-\[521px\]\/thread\:ms-1 {
            margin-inline-start:calc(var(--spacing) * 1)
        }
    }
    @container thread not (min-width: 510px) {
        .\@max-\[510px\]\/thread\:grow {
            flex-grow:1
        }

        .\@max-\[510px\]\/thread\:justify-center {
            justify-content:center
        }
    }
    @container not (min-width: 48rem) {
        .\@max-3xl\:-top-2 {
            top:calc(var(--spacing) * -2)
        }
    }
    @container (min-width: 0) {
        .\@\[0px\]\:hidden {
            display:none
        }
    }
    @container (min-width: 150px) {
        .\@\[150px\]\:block {
            display:block
        }
    }
    @container composer (min-width: 300px) {
        .\@\[300px\]\/composer\:flex {
            display:flex
        }
    }
    @container composer (min-width: 310px) {
        .\@\[310px\]\/composer\:flex {
            display:flex
        }
    }
    @container composer (min-width: 400px) {
        .\@\[400px\]\/composer\:flex {
            display:flex
        }
    }
    @container composer (min-width: 800px) {
        .\@\[800px\]\/composer\:flex {
            display:flex
        }
    }
    @container (min-width: 28rem) {
        .\@md\:col-span-8 {
            grid-column:span 8/span 8
        }

        .\@md\:col-start-3 {
            grid-column-start:3
        }

        .\@md\:px-0 {
            padding-inline:calc(var(--spacing) * 0)
        }
    }
    @container thread (min-width: 32rem) {
        .\@lg\/thread\:block {
            display:block
        }

        .\@lg\/thread\:hidden {
            display:none
        }

        .\@lg\/thread\:grow {
            flex-grow:1
        }

        .\@lg\/thread\:items-end {
            align-items:flex-end
        }
    }
    @container (min-width: 34rem) {
        .\@\[34rem\]\:\[--thread-content-max-width\:40rem\] {
            --thread-content-max-width:40rem
        }
    }
    @container (min-width: 37rem) {
        .\@\[37rem\]\:\[--thread-content-margin\:--spacing\(6\)\] {
            --thread-content-margin:calc(var(--spacing) * 6)
        }
    }
    @container (min-width: 42rem) {
        .\@2xl\:flex-row {
            flex-direction:row
        }

        .\@2xl\:justify-between {
            justify-content:space-between
        }

        .\@2xl\:text-start {
            text-align:start
        }
    }
    @container (min-width: 48rem) {
        .\@3xl\:-start-3 {
            inset-inline-start:calc(var(--spacing) * -3)
        }

        .\@3xl\:-top-4 {
            top:calc(var(--spacing) * -4)
        }

        .\@3xl\:mx-\[calc\(--spacing\(2\)-1px\)\] {
            margin-inline:calc(var(--spacing) * 2 - 1px)
        }
    }
    @container thread (min-width: 64rem) {
        .\@5xl\/thread\:w-61 {
            width:calc(var(--spacing) * 61)
        }
    }
    @container (min-width: 64rem) {
        .\@\[64rem\]\:\[--thread-content-max-width\:48rem\] {
            --thread-content-max-width:48rem
        }
    }
    @container (min-width: 72rem) {
        .\@\[72rem\]\:\[--thread-content-margin\:--spacing\(16\)\] {
            --thread-content-margin:calc(var(--spacing) * 16)
        }
    }
    @container thread (min-width: 84rem) {
        .\@\[84rem\]\/thread\:absolute {
            position:absolute
        }

        .\@\[84rem\]\/thread\:start-0 {
            inset-inline-start:calc(var(--spacing) * 0)
        }

        .\@\[84rem\]\/thread\:end-0 {
            inset-inline-end:calc(var(--spacing) * 0)
        }

        .\@\[84rem\]\/thread\:top-2 {
            top:calc(var(--spacing) * 2)
        }

        .\@\[84rem\]\/thread\:bg-token-main-surface-primary {
            background-color:var(--main-surface-primary)
        }

        .\@\[84rem\]\/thread\:bg-transparent {
            background-color:#0000
        }

        .\@\[84rem\]\/thread\:pt-\(--header-height\) {
            padding-top:var(--header-height)
        }

        .\@\[84rem\]\/thread\:shadow-none\! {
            --tw-shadow: 0 0 #0000 !important;
            box-shadow:var(--tw-inset-shadow), var(--tw-inset-ring-shadow), var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow) !important
        }

        .\@\[84rem\]\/thread\:\[box-shadow\:var\(--sharp-edge-top-shadow\)\]\! {
            box-shadow:var(--sharp-edge-top-shadow) !important
        }
    }
    @container thread not (min-width: 401px) {
        .composer-btn:where(:not(:disabled, :active))[data-is-selected=true]:before {
            background-color: var(--interactive-bg-accent-muted-hover);
            content:var(--tw-content)
        }
    }
    @container thread not (min-width: 401px) {
        .composer-btn[data-pill] {
            gap:calc(var(--spacing) * 0)
        }
    }
    @container thread not (min-width: 521px) {
        .composer-btn [data-label] {
            clip: rect(0, 0, 0, 0);
            border-width: 0;
            height: 1px;
            margin: -1px;
            overflow: hidden;
            padding: 0;
            position: absolute;
            white-space: nowrap;
            width:1px
        }
    }